<main id="main" class="anchor page-main">

  <div class="shopify-policy__container appco_bg">
  <div class="shopify-policy__title appco_bg h2">
    <h1>Shipping policy</h1>
  </div>

  <div class="shopify-policy__body appco_bg">
    <div class="rte appco_bg prose">
        <p>Priya Fashion at its own cost guarantees to deliver products to all cities across India and all over the world. Priya Fashion shall not be liable for delays resulting from incomplete address listings. In the event of a reshipment of the same order, customers will be responsible to pay re-shipping charges for the reshipment and any related fines/penalties.</p>
<p>To ensure the safe delivery of all products, the same are double packed in waterproof and corrugated boxes. All orders are shipped by the best transport/courier agencies and home delivered within approximately 4-6 working days after dispatch of the shipment.</p>
<p>GIFT DELIVERIES BEING MADE TO COLLEGES/HOSTELS/SCHOOLS ARE SOLELY AT THE CUSTOMER’S RISK. In case the authorities of such places fail to accept the package, for any reason, Priya Fashion will under no circumstances issue a refund or credit to the customer's account, nor shall Priya Fashion attempt re-shipment of the same order. For a special or preferred delivery date, the Customer shall necessarily mention the required delivery date in the gift message box when placing the order. If the order does not contain any delivery date, the package shall be delivered at the first opportunity, as soon as possible.</p>
<p>Since transport/courier agencies do not deliver to the P.O. Box addresses, customers are requested to provide a full address with a pin code/zip code. NOTE: Billing Address shall mean the address where a customer receives the credit card bills. Shipping address shall mean the address where the order shall have to be delivered.</p>
<p>Generally, no deliveries can be made on Saturdays and Sundays. However, in case of emergency, solely at the discretion of Priya Fashion, the delivery may be made on Saturdays.</p>
<p>The customer has to bear To and From shipping charges in case there is any size issue due to the fault of the customer or the customer didn't like the Quality of the product.</p>
<p>Priya Fashion uses the services of the best transport/courier agencies such as First Flight, DHL, Bluedart, Speed Post, etc, which deliver within 48-72 hours in all Major cities of India.</p>
<p>In case the customer wishes to avail of other alternate shipping options, Priya Fashion may then suggest other options. On special request, Priya Fashion may also provide special quotes for shipping, in case the merchandise order amount is large. Customers may send an email to priyafashion463&#64;gmail.com for further details.</p>
<p>In case of multiple orders, Customers may receive the same separately, depending on product availability and shipping locations.</p>
<p>All products shall be shipped from India.</p>
<p>Priya Fashion shall not give any refund, returns, replacement &amp; exchange for a reason of delay caused due to the carrier agency. However, at its sole discretion, Priya Fashion may agree to provide credit that may be used for future orders.</p>
<p>Priya Fashion shall intimate by email, in case of a delay in shipping due to unavailability of stock or due to an unusual delay in filling an order.</p>
<p><strong>SHIPMENT TIME -</strong></p>
<p>Against each product on the website, an approximate time for shipment has been provided; which are merely indicative. Products may be shipped either earlier or later depending on the availability of products and other factors.</p>
<p>In Order to get an accurate estimate of shipment time, kindly email the order number or item codes.</p>
<p>As far as possible, orders shall be processed within 24-48 hours of the order being placed. The expected delivery time is 4-6 business days, all other factors being optimum.</p>
<p><strong>TRANSIT RISK -</strong></p>
<p>All orders sent by Priya Fashion are fully insured at no extra cost to customers.</p>
<p>In case of loss of order while ‘in transit, Priya Fashion shall re-process the order.</p>
<p>However, Priya Fashion shall not be responsible for the loss of packages during transit or any damages to packaging (full or partial), once the same has been delivered by the carrier agency at the address provided by the customer at the time of placing of the order.</p>
<p><strong>TRACKING OF SHIPMENT -</strong></p>
<p>Priya Fashion shall provide details of shipment via email alerts to the customer, once the package is handed across to the carrier agency. The email alerts shall contain the transport/courier agency’s website details along with the tracking number and expected date of delivery. The Customer may use the said details to keep a check on the status of the package.</p>
<p>Please note that tracking numbers for orders shipped may take up to 24 business hours to become active on the websites.</p>
<p><strong>REQUEST FOR CHANGE OF POSTAL ADDRESS -</strong></p>
<p>Postal Address as provided by the Customer may be changed within 24 hours of placing of Order, and not later; by making the said request via email to order&#64;ppriyafashion.com.</p>
<p><strong>READY TO SHIP SECTION -</strong></p>
<p>The ready Ship Section is a special section that allows the customer to place a last-minute order ensuring the delivery of the product within the next 4-6 business working days.</p>
<p><strong>IN CASE OF DELAYS -</strong></p>
<p>The time to ship mentioned on our website against each item is indicative and approximate values only and sometimes due to situations beyond our control, delays may occur. No refund, return, replacement &amp; exchange will be entertained for this reason.</p>
<p>However benefits such as some store credit to be used for future orders, free gifts, etc can be allowed on case to case basis.</p>
<p>If for any reason, there is going to be a delay in shipping because an item is out of stock or If there is an unusual delay in filling an order, we will notify you by e-mail.</p>
<p>However, any dates for delivery are approximate only and we are not liable for any delay in delivering your order or any part of it. We may choose to deliver your order in separate parts. In some cases, we may offer to refund you for the unfulfilled part of the order.</p>
<p><strong>Customs Duty</strong>: In international orders, custom duty/charges may be applicable as per the country of import's custom department.</p>
    </div>
  </div>
</div>

</main>
