<app-my-account></app-my-account>
<!-- <div class="container">
  <div class="card">
    <form>
      <button
        *ngIf="!isEditMode"
        type="button"
        class="edit-btn position-absolute"
        (click)="toggleEditMode()"
      >
        <i class="fas fa-edit fa-2x"></i>
      </button>
      <button
        *ngIf="isEditMode"
        type="button"
        class="close-btn position-absolute"
        (click)="toggleEditMode()"
      >
        <svg
          class="close-btn-icon"
          viewBox="0 0 25 25"
          xmlns="http://www.w3.org/2000/svg"
          width="18"
          height="18"
        >
        <path
        id="Layer_2"
        data-name="Layer 2"
        d="M12.5,0A12.5,12.5,0,1,0,25,12.5,12.5,12.5,0,0,0,12.5,0Zm0,24.2A11.7,11.7,0,1,1,24.2,12.5,11.65,11.65,0,0,1,12.5,24.2ZM18.2,6.8a.38.38,0,0,0-.6,0h0l-5.1,5.1L7.4,6.8a.37.37,0,0,0-.6,0,.38.38,0,0,0,0,.6h0l5.1,5.1L6.8,17.6a.38.38,0,0,0,0,.6.37.37,0,0,0,.6,0h0l5.1-5.1,5.1,5.1a.37.37,0,0,0,.6,0h0a.37.37,0,0,0,0-.6l-5.1-5.1,5.1-5.1a.38.38,0,0,0,0-.6Z"
      ></path>
        </svg>
      </button>
 
      <div class="row">
        <div class="col-md-6">
          <label for="firstName" class="form-label">First Name</label>
          <input
            type="text"
            class="form-control"
            id="firstName"
            [(ngModel)]="userName"
            [readonly]="!isEditMode"
            [class.readonly-mode]="!isEditMode"
            [ngClass]="{ 'edit-mode-margin': isEditMode }"
          />
        </div>
 
        <div class="col-md-6">
          <label for="lastName" class="form-label">Last Name</label>
          <input
            type="text"
            class="form-control"
            id="lastName"
            placeholder="Last Name"
            [readonly]="!isEditMode"
            [class.readonly-mode]="!isEditMode"
            [ngClass]="{ 'edit-mode-margin': isEditMode }"
          />
        </div>
      </div>
 
      <div class="row">
        <div class="col-md-6">
          <label for="email" class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            [(ngModel)]="userEmail"
            [readonly]="!isEditMode"
            [class.readonly-mode]="!isEditMode"
            [ngClass]="{ 'edit-mode-margin': isEditMode }"
          />
        </div>

        <div class="col-md-6">
          <label for="contactNumber" class="form-label">Contact Number</label>
          <input
            type="tel"
            class="form-control"
            id="contactNumber"
            [(ngModel)]="mobileNo"
            [readonly]="!isEditMode"
            [class.readonly-mode]="!isEditMode"
            [ngClass]="{ 'edit-mode-margin': isEditMode }"
          />
        </div>
      </div>

       
      <div class="row">
        <div class="col-md-6">
          <label for="birthdate" class="form-label">Birthdate</label>
          <div class="d-flex gap-2">
            <input
              type="text"
              class="form-control"
              id="day"
              placeholder="DD"
              maxlength="2"
              [readonly]="!isEditMode"
              [class.readonly-mode]="!isEditMode"
              [ngClass]="{ 'edit-mode-margin': isEditMode }"
            />
            <input
              type="text"
              class="form-control"
              id="month"
              placeholder="MM"
              maxlength="2"
              [readonly]="!isEditMode"
              [class.readonly-mode]="!isEditMode"
              [ngClass]="{ 'edit-mode-margin': isEditMode }"
            />
            <input
              type="text"
              class="form-control"
              id="year"
              placeholder="YYYY"
              maxlength="4"
              [readonly]="!isEditMode"
              [class.readonly-mode]="!isEditMode"
              [ngClass]="{ 'edit-mode-margin': isEditMode }"
            />
          </div>
        </div>

         
        <div class="col-md-6">
          <label class="form-label">Gender</label>
          <div class="d-flex align-items-center">
            <div class="form-check me-3 d-flex align-items-center">
              <input
                class="form-check-input"
                type="radio"
                name="gender"
                id="male"
                value="Male"
                [readonly]="!isEditMode"
                [ngClass]="{ 'edit-mode-margin': isEditMode }"
              />
              <label class="form-check-label ms-2" for="male">Male</label>
            </div>
            <div class="form-check me-3 d-flex align-items-center">
              <input
                class="form-check-input"
                type="radio"
                name="gender"
                id="female"
                value="Female"
                [readonly]="!isEditMode"
                [ngClass]="{ 'edit-mode-margin': isEditMode }"
              />
              <label class="form-check-label ms-2" for="female">Female</label>
            </div>
            <div class="form-check d-flex align-items-center">
              <input
                class="form-check-input"
                type="radio"
                name="gender"
                id="other"
                value="Other"
                [readonly]="!isEditMode"
                [ngClass]="{ 'edit-mode-margin': isEditMode }"
              />
              <label class="form-check-label ms-2" for="other">Other</label>
            </div>
          </div>
        </div>
      </div>

       
      <div class="row mt-3" *ngIf="isEditMode">
        <div class="col-12 text-center">
          <button type="button" class="btn custom-btn" (click)="saveChanges()">Save</button>
        </div>
      </div>
    </form>
  </div>
</div> -->

<!-- <div class="container"  *ngIf="showProfileForm" >
  <div class="col-lg-10">
      <div class="create-ac-content bg-light-gray padding-20px-all" style="margin-top: 35px;">
          <form>
              <fieldset>
                  <h2 style="font-family: 'sans-serif';font-size: 25px; color:#001c2b;" class="login-title mb-3"
                      (click)="viewData()">Account details</h2>
                  <div class="row">
                      <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                          <label style="font-family: 'sans-serif';font-size: 20px; color:#001c2b;"
                              for="input-firstname">First Name <span class="required-f">*</span></label>
                          <input style="font-family: 'sans-serif';font-size: 18px; color:#001c2b;" name="F_Name"
                              [(ngModel)]="F_Name" id="input-firstname" type="text" (ngModelChange)="onFieldChange()">
                      </div>
                      <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                          <label style="font-family: 'sans-serif';font-size: 20px; color:#001c2b;"
                              for="input-lastname">Last Name <span class="required-f">*</span></label>
                          <input style="font-family: 'sans-serif';font-size: 18px; color:#001c2b;" name="L_Name"
                              [(ngModel)]="L_Name" id="input-lastname" type="text"(ngModelChange)="onFieldChange()">
                      </div>
                  </div>

                  <div class="row">
                      <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                          <label style="font-family: 'sans-serif';font-size: 20px; color:#001c2b;"
                              for="input-Email_Id">Email Id <span class="required-f">*</span></label>
                          <input style="font-family: 'sans-serif';font-size: 18px; color:#001c2b;" name="Email_Id"
                              [(ngModel)]="Email_Id" id="input-Email_Id" type="email"(ngModelChange)="onFieldChange()">
                      </div>
                      <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                          <label style="font-family: 'sans-serif';font-size: 20px; color:#001c2b;"
                              for="input-Mobile_No">Mobile No <span class="required-f">*</span></label>
                          <input style="font-family: 'sans-serif';font-size: 18px; color:#001c2b;" name="Mobile_No"
                              [(ngModel)]="Mobile_No" id="input-telephone" type="tel"(ngModelChange)="onFieldChange()">
                      </div>
                  </div>
              </fieldset>

              <fieldset>
                  <h6 style="font-family: 'sans-serif';font-size: 25px; color:#001c2b;">Shipping Address</h6>
                  <div class="row">

                      <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                          <label style="font-family: 'sans-serif';font-size: 20px; color:#001c2b;"
                              for="input-Address_1">Pin Code <span class="required-f">*</span></label>
                          <input style="font-family: 'sans-serif';font-size: 18px; color:#001c2b;" name="Address_1"
                              [(ngModel)]="Address_1" id="input-address-1" type="text"(ngModelChange)="onFieldChange()">
                      </div>
                      <div class="form-group col-md-6 col-lg-6 col-xl-6">
                          <label style="font-family: 'sans-serif';font-size: 20px; color:#001c2b;"
                              for="input-Address_2">Locality <span class="required-f">*</span></label>
                          <input style="font-family: 'sans-serif';font-size: 18px; color:#001c2b;" name="Address_2"
                              [(ngModel)]="Address_2" id="input-company" placeholder="(Locality)" type="text"(ngModelChange)="onFieldChange()">
                      </div>

                  </div>
                  <div class="row">
                      <div class="form-group col-md-6 col-lg-6 col-xl-6">
                          <label style="font-family: 'sans-serif';font-size: 20px; color:#001c2b;"
                              for="input-Address_3">Address <span class="required-f">*</span></label>
                          <input style="font-family: 'sans-serif';font-size: 18px; color:#001c2b;" name="Address_3"
                              [(ngModel)]="Address_3" id="input-address-2" placeholder="(Area And Street)"
                              type="text"(ngModelChange)="onFieldChange()">
                      </div>
                      <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                          <label style="font-family: 'sans-serif';font-size: 20px; color:#001c2b;"
                              for="input-Address_4">City<span class="required-f">*</span></label>
                          <input style="font-family: 'sans-serif';font-size: 18px; color:#001c2b;" name="Address_4"
                              [(ngModel)]="Address_4" id="input-city" placeholder="(City/District/Town)" (ngModelChange)="onFieldChange()"type="text">
                      </div>
                  </div>
                  <div class="row">
                      <div class="form-group col-md-6 col-lg-6 col-xl-6 required">
                          <label style="font-family: 'sans-serif';font-size: 20px; color:#001c2b;"
                              for="input-Address_5">State <span class="required-f">*</span></label>
                          <input style="font-family: 'sans-serif';font-size: 18px; color:#001c2b;" name="Address_5"
                              [(ngModel)]="Address_5" id="input-postcode" placeholder="(State)" type="text" (ngModelChange)="onFieldChange()">
                      </div>

                  </div>
              </fieldset>

              <fieldset>
                  <div class="row" *ngFor="let data of responseData">

                  </div>
              </fieldset>

              <fieldset>
                  <div class="row">
                      <button 
                          style="font-family: 'sans-serif';display: block; margin: auto; font-size: 20px; color:#001c2b; background-color: lightgrey;"
                          name="save"  [disabled]="!isFormDirty"(click)="onSave()">Save</button>


                  </div>
              </fieldset>
          </form>
      </div>
  </div>

</div> -->

<div class="container" *ngIf="showProfileForm">
  <div class="create-ac-content" style="margin-top: 50px; margin-bottom: 20px;">
    <form>
      <fieldset>
        <h2 class="login-title" (click)="viewData()">Account Details</h2>
        <div class="row">
          <div class="form-group col-md-6 required">
            <label for="input-firstname">First Name <span class="required-f">*</span></label>
            <input name="F_Name" [(ngModel)]="F_Name" id="input-firstname" type="text" (ngModelChange)="onFieldChange()">
          </div>
          <div class="form-group col-md-6 required">
            <label for="input-lastname">Last Name <span class="required-f">*</span></label>
            <input name="L_Name" [(ngModel)]="L_Name" id="input-lastname" type="text" (ngModelChange)="onFieldChange()">
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-6 required">
            <label for="input-Email_Id">Email Id <span class="required-f">*</span></label>
            <input name="Email_Id" [(ngModel)]="Email_Id" id="input-Email_Id" type="email" (ngModelChange)="onFieldChange()">
          </div>
          <div class="form-group col-md-6 required">
            <label for="input-Mobile_No">Mobile No <span class="required-f">*</span></label>
            <input name="Mobile_No" [(ngModel)]="Mobile_No" id="input-telephone" type="tel" (ngModelChange)="onFieldChange()">
          </div>
        </div>
      </fieldset>

      <fieldset>
        <h6>Shipping Address</h6>
        <div class="row">
          <div class="form-group col-md-6 required">
            <label for="input-Address_1">Pin Code <span class="required-f">*</span></label>
            <input name="Address_1" [(ngModel)]="Address_1" id="input-address-1" type="text" (blur)="fetchAddressFromPincode()" (ngModelChange)="onPincodeChange($event)" (ngModelChange)="onFieldChange()">
          </div>
          <div class="form-group col-md-6">
            <label for="input-Address_2">District<span class="required-f">*</span></label>
            <input name="Address_2" [(ngModel)]="Address_2" id="input-company" placeholder="(District)" type="text"  (ngModelChange)="onDistrictChange($event)" (blur)="fetchCityAndStateFromDistrict()" (ngModelChange)="onFieldChange()">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6">
            <label for="input-Address_3">Address <span class="required-f">*</span></label>
            <input name="Address_3" [(ngModel)]="Address_3" id="input-address-2" placeholder="(Area And Street)" type="text" (ngModelChange)="onFieldChange()">
          </div>
          <div class="form-group col-md-6 required">
            <label for="input-Address_4">City <span class="required-f">*</span></label>
            <input name="Address_4" [(ngModel)]="Address_4" id="input-city" placeholder="(City/District/Town)"  (ngModelChange)="onFieldChange()"  [disabled]="!isAddressFieldsEnabled"  type="text">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-6 required">
            <label for="input-Address_5">State <span class="required-f">*</span></label>
            <input name="Address_5" [(ngModel)]="Address_5" id="input-postcode" placeholder="(State)" type="text" [disabled]="!isAddressFieldsEnabled"  (ngModelChange)="onFieldChange()">
          </div>
        </div>
      </fieldset>

      <fieldset>
        <div class="row" *ngFor="let data of responseData">
          <!-- Additional fields can be added here -->
        </div>
      </fieldset>

      <fieldset>
        <div class="row">
          <button 
            name="save" 
            [disabled]="!isFormDirty" 
            (click)="onSave()" 
            class="custom-btn">
            Save
          </button>
        </div>
      </fieldset>
    </form>
  </div>
</div>
