<div class="shopify-policy__container">
    <h1 class="shopify-policy__title">Privacy Policy</h1>
    <div class="shopify-policy__body">
        <p>
            We respect your privacy and are committed to maintaining it. When you shop on this Website, we will ask you to input and will collect Personal Information from you such as your name, e-mail address, billing address, delivery address, telephone number, product selections, credit card or other payment information, and password.
        </p>
        <p>
            We may also collect information about where you are on the internet (e.g., the URL you came from, IP address, domain types like .co.uk and .com), your browser type, the country where your computer is located, the pages of our website that were viewed during your visit, and the advertisements you clicked on. We may collect this information even if you do not register with us. None of this data is of a personal nature and will help us improve the quality of our service.
        </p>
        <p><strong>How we use the information we collect:</strong></p>
        <ul>
            <li>Processing your orders</li>
            <li>Administering your account</li>
            <li>Improving the website's performance by analyzing statistical data</li>
        </ul>
        <p>
            If you consent, we may notify you of products or special offers that may be of interest to you. You agree that you do not object to us contacting you for any of the above purposes, whether by telephone, e-mail, or in writing, and you confirm that you do not and will not consider any of the above as being a breach of any of your rights.
        </p>
        <p>
            We will not release your Personal Information to any company outside for mailing or marketing purposes.
        </p>
        <p>
            We do not hold any of your credit card information. This information is securely collected by our authorized payment processor. With the industry's most advanced encryption, fraud prevention, and protection policies, Secure Trading is dedicated to keeping your account safe and secure.
        </p>
        <p>
            Please check back frequently to see any updates or changes to our privacy policy.
        </p>
    </div>
</div>
