<footer>
    <div class="footer-container">
      <div class="footer-column">
        <h4>ABOUT</h4>
        <p>
          The brand Priya Fashion is one of the best .
          The brand embodies meticulous fineness in each attire and is soaked in a whimsical traditional charm
          that every regal customer roots for.
        </p>
      </div>
  
      <div class="footer-column">
        <h4>DISCOVER</h4>
        <ul>
          <li>ABOUT US</li>
          <li>CONTACT US</li>
        </ul>
      </div>
  
      <div class="footer-column">
        <h4>INFORMATION</h4>
        <ul>
          <li (click)="navigatetoaccount()">MY ACCOUNT</li>
          <li (click)="navigateprivacy()">PRIVACY POLICY</li>
          <li (click)="navigate()">SHIPPING POLICY</li>
          <!-- <li>RETURN/EXCHANGE POLICY</li>
          <li>RETURN/EXCHANGE REQUEST</li>
          <li>TRACK YOUR ORDER</li>
          <li>TERMS & CONDITIONS</li> -->
        </ul>
      </div>
  
      <div class="footer-column">
        <h4>QUICK LINKS</h4>
        <ul>
          <li>ANARKALI KURTA</li>
          <li>KURTA SET</li>
          <li>PANTS</li>
          <li>CO-ORD SETS</li>
          <li>A-LINE KURTA</li>
        </ul>
      </div>
  
        <div class="footer-column customer-service">
      <h4>CUSTOMER SERVICE</h4>
      <p class="hover-underline">priyafashion463&#64;.com</p>
      <p class="hover-underline">(+91) 9887470463</p>
      <!--<p class="enquiry hover-underline">FRANCHISE ENQUIRY</p>-->
      <div class="footer-social">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-pinterest-p"></i>
        <i class="fab fa-youtube"></i>
      </div>
    </div>
  
    
    </div>
  
  
  </footer>
  
  